@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-bg {
    background-image: url(../assets/background/background-auth.svg);
    background-size: cover;
    background-position: center;
  }
}
